*{
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

body{
    font-family: "Noto Sans", sans-serif;
}

.container{
    max-width: 1920px;

    margin: 0 auto;
}

:root{
    --purple-color: #8b5cf6;
    --white-color: #fff;
    --black-color: black;
    --dark-color: #111827;
    --light-grey-color: #606775;
    --dark-grey-color: #3c4554;
    --grey-bg-color: #e5e7eb;
    --btn-hover-color: #a78bfa
}

a{
    text-decoration: none;
    color: black;
}

/* HEADER */

header{
    margin-top: 25px;
    margin-bottom: 40px;    
}

.header-logo-contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-logo{
    display: flex;
    align-items: center;
    gap: 5px;

    cursor: pointer;
}

.header-nav-logo:hover{
    color: var(--purple-color);
    transition: color 0.5s;
}

.header-contacs{
    display: flex;
    align-items: center;
}

.header-contacts-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;

    padding-right: 10px;

    border-right: 1px solid var(--purple-color);
}

.header-contacts-call{
    padding-left: 10px;
}

.header-contacts-call h2{
    font-size: 32px;
}

.header-contacts-call p{
    font-size: 24px;
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;

    margin-top: 25px;
}

.header-nav-links{
    display: flex;
    align-items: center;
    gap: 25px;
}

.header-nav-links a{
    font-weight: 700;
}

.header-nav-links a:hover{
    color: var(--purple-color);
    transition: color 0.5s;
}


/* MAIN DELIVERY */

main{
    padding-top: 70px;
    padding-bottom: 60px;

    background: var(--grey-bg-color);
}

.main-delivery{
    display: flex;
    justify-content: space-between;
}

.main-delivery-info{
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 50%;
}

.main-delivery-info h2{
    font-size: 36px;
    font-weight: 900;
    line-height: 40px;
}

.main-delivery-info p{
    font-size: 20px;
}

.main-delivery-calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 48%;

    background: var(--white-color);

    border-radius: 10px;
}

.main-delivery-calc-text{
    text-align: center;

    margin-bottom: 30px;
}

.main-delivery-calc-text h3{
    margin-bottom: 15px;

}

/* MAIN ADVANTAGES */

.main-advantages-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main-advantages-item{
    margin-top: 50px;

    width: calc(100% / 3 - 100px);
    
    display: flex;
    align-items: center;
    gap: 25px;
}

.main-advantages-item h3{
    margin-bottom: 10px;

    font-size: 24px;
    font-weight: 900;
}

.main-advantages-item p{
    font-size: 16px;
}

/* MAIN GUARANTESS */

.main-guarantess-text{
    text-align: center;

    width: 40%;
    margin: 0 auto 25px;
}

.main-guarantess-text h2{
    margin-bottom: 10px;
}

.main-guarantess-text p{
    font-size: 16px;

    margin-top: 20px;
}

.main-guarantess-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.main-guarantess-block-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.main-guarantess-block-item img{
    height: 500px;
    width: 400px;
}

.main-guarantess-block-item h4{
    margin-top: 15px;

    text-align: center;

    font-weight: 700;
    font-size: 18px;

}

/* MAIN REVIEWS */

.main-reviews-block{
    margin-top: 65px;
    padding-left: 40px;
    padding-right: 40px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 90px;
}

.main-reviews-block-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 65px;
}

.main-reviews-block-list-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 40%;
    min-height: 300px;
    padding: 20px;

    background: var(--white-color);

    border-radius: 10px;
}

.main-reviews-person-text{
    font-size: 24px;
    font-weight: 650;
}

.reviews-person-name{
    color: var(--light-grey-color);

    font-weight: 300;
    font-size: 24px;
}

/* MAIN FAQ */

.main-faq{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 60px;
    padding-bottom: 30px;

    background: var(--white-color);

    border-radius: 10px;
}

.main-faq form{
    width: 28%;
    margin: 30px auto;
}

/* FOOTER */

footer{
    background: var(--dark-color);

    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-main-block{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--white-color);
}

.footer-main-logo{
    display: flex;
    align-items: center;
    gap: 5px;

    cursor: pointer;
}

.footer-main-logo:hover{
    color: var(--purple-color);
    transition: color 0.5s;
}

.footer-main-links{
    display: flex;
    align-items: center;
    gap: 25px;
}

.footer-main-links a{
    font-size: 20px;

    color: var(--white-color);
}

.footer-main-links a:hover{
    color: var(--purple-color);
    transition: color 0.5s;
}

.footer-main-contacts{
    text-align: center;
}

.footer-main-contacts h2{
    font-size: 36px;
}

.footer-main-contacts p{
    font-size: 24px;
}

.footer-sub{
    margin-top: 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-sub-text{
    color: var(--dark-grey-color);
}

.footer-sub-design p{
    text-align: right;
    color: var(--light-grey-color);
}

.footer-sub-design p span{
    border-left: 1px solid var(--light-grey-color);

    padding-left: 4px;
}

/* FORM */

.form-sides{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.form-left-side{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-right-side{
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.name-placeholder{
    border-radius: 5px;
    border: 1px solid var(--black-color);

    height: 50px;
    width: 100%;

    padding-left: 10px;
    margin-bottom: 25px;
}

.name-placeholder:hover{
    border: 1px solid var(--purple-color);
    transition: border 0.5s;
}

.form-placeholder{
    border-radius: 5px;
    border: 1px solid var(--black-color);

    height: 50px;
    width: 235px;

    padding-left: 10px;
}

.form-placeholder:hover{
    border: 1px solid var(--purple-color);
    transition: border 0.5s;
}

.msg-placeholder{
    border-radius: 5px;
    border: 1px solid var(--black-color);

    height: 150px;
    width: 100%;

    padding-top: 10px;
    padding-left: 10px;
    margin-top: 25px;
}

.msg-placeholder:hover{
    border: 1px solid var(--purple-color);
    transition: border 0.5s;
}

/* BUTTONS */

.btn{
    background: var(--purple-color);
    color: var(--white-color);

    border-radius: 5px;
    border: none;

    cursor: pointer;
}

.btn:hover{
    background: var(--btn-hover-color);
    transition: background 0.5s;
}

.btn-header-nav{
    padding: 10px 30px;

    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
}

.form-btn{
    width: 100%;

    margin-top: 40px;
    padding: 10px 180px;

    font-size: 16px;
    font-weight: 700;
}

.btn-main-guarantess{
    display: block;
    
    margin: 35px auto 0;
    padding: 15px 30px;

    font-size: 16px;
    font-weight: 700;
}

.main-reviews-block-switch{
    border: none;

    cursor: pointer;

    background: var(--grey-bg-color);
}

/* TEXT */

.mid-title{
    margin-top: 70px;

    text-align: center;

    font-weight: 900;
    font-size: 30px;
}


/* MEDIA */

